<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Processamento</title>
</head>
<body>
    <h1>API em tempo Real</h1>
    <output></output>
    <input type="text">
    <script>
        const ws = new WebSocket('ws://localhost:5000/websocket')
        const input = document.querySelector('input')
        const output = document.querySelector('output')
        
        ws.addEventListener('open', console.log)
        
        input.addEventListener('keypress', e => {
            if (e.code === 'Enter') {

            }
        })
        
    </script>
</body>
</html>